{%extends 'base.html'%} {%load static%} {%block title%} Create {%endblock%}
{%block content %}

<div class="card p-2">
  <a href="#" onclick="goBack()"> Return Back</a>
  <div class="card-body p-4 m-4">
      <h1>Ledger - {{ ledger.ledger_name }}</h1>
      <p>Account Chart: {{ ledger.account_chart }}</p>
      <p>Total Value: {{ ledger.total_value }}</p>
      <!-- <p>Total Value: {{ ledger.id }}</p> -->
      
  </div>
</div>


<div class="card p-2">

<div class="card-body p-4 m-4">

  <h1>{% if title %} {{title}} {% else %} Payment {% endif %}</h1>
    <form method="POST">
      <div class="row">
        
          <select class="ledger-select form-control" id="1_ledger_select" name="debit_ledger"
              required onchange="ledgerChange(this)">
              <option value="------" selected>-----</option>
              {% for ledger in paid_from%}
              <option value={{ledger.id}}>{{ledger.ledger_name}}</option>
              {% endfor %}
          </select>

          <label class="form-check form-switch form-check-custom form-check-solid">
            Amount
          <!-- <span class="form-check-label fw-bold text-muted" for="kt_modal_add_customer_billing">
            Pay amount
          </span> -->
        </label>
        <input type="number" step="0.01" class="amount fw-bolder form-control" min="0" name="amount" required placeholder="Enter amount">
        <label class="form-check form-switch form-check-custom form-check-solid">
          Particular
        <!-- <span class="form-check-label fw-bold text-muted" for="kt_modal_add_customer_billing">
          Pay amount
        </span> -->
      </label>
        <input class="particular fw-bolder form-control" type="text" id="particular"
          name="particular" required placeholder="Enter particulars">
      
          </div>


    {% csrf_token %}

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  </div>
</div>

{% endblock %}